In [42]:
import pandas as pd

In [43]:
df = pd.read_csv("Data file.csv")
df

,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Group 7,Group 8,Group 9
0,34,125,55,12,198,66,34,173,59
1,79,111,60,59,202,67,69,195,80
2,22,137,72,71,202,76,53,161,60
3,86,174,56,10,207,75,5,129,70
4,5,229,60,25,142,61,33,127,77
...,...,...,...,...,...,...,...,...,...
94,5,209,79,72,155,58,91,175,65
95,70,184,76,54,202,63,68,192,54
96,65,168,74,100,55,78,12,238,80
97,78,89,55,66,149,63,98,147,53
98,17,188,53,81,246,75,50,240,78

In [44]:
class F_Valuecalculate :
    def __init__ (self,df): 
        self.df = df 
    def degrees_of_freedom(self): 
        self.dofb = len(self.df.columns)-1
        self.dofw = len(self.df.columns)*len(self.df.index) - len(self.df.columns)
        self.dofT = self.dofb + self.dofw
        return self.dofb, self.dofw
    def SSW(self):
        self.SSW,self.G_SS = 0,0
        for self.col_n in range (0,len(self.df.columns)):
            self.G_SSW = pow (self.df.iloc[:,self.col_n] - self.df.iloc[:,self.col_n].mean(),2).sum()
            self.SSW = self.SSW + self.G_SSW 
        return self.SSW
    def SST (self):
        self.SST,self.G_SST = 0,0
        for self.col_n in range (0,len(self.df.columns)):
            self.G_SST = pow (self.df.iloc[:,self.col_n] - self.df.mean().sum()/len(df.columns),2).sum()
            self.SST = self.SST + self.G_SST
        return self.SST
    def SSB (self): 
        self.SSB = self.SST-self.SSW
        return self.SSB
    def F_Value(self):
        self.dofB , self.dofW = self.degrees_of_freedom()
        self.SSW = self.SSW()
        self.SST()
        self.SSB = self.SSB()
        self.var_b = self.SSB/self.dofb
        self.var_w = self.SSW/self.dofw
        self.f_val = self.var_b/self.var_w        
        return self.dofB,self.dofW,self.var_b,self.var_w,self.f_val

FVal_Obj = F_Valuecalculate(df)
Res = FVal_Obj.F_Value()
print("Dof Between:", Res[0], "\nDof Within", Res[1], "\n\nVariance between groups: ",Res[2], "\nVariance within groups :" ,Res[3], "\n\nF Value :",Res[4] )

Dof Between: 8
Dof Within 882

Variance between groups:  203059.60213243545
Variance within groups : 1333.5903250188965

F Value : 152.26535340195886